[Unit]
Description=Turn on ACTIVE# and turn off BMC_BOOT# LEDs
After=getty.target

[Service]
ExecStart=/libexec/active-gpio-on start
ExecStop=/libexec/active-gpio-on stop
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
