Port 22
Port 2022
Protocol 2
UsePAM yes
PermitRootLogin yes
AuthorizedKeysFile .ssh/authorized_keys
TrustedUserCAKeys /etc/ssh/trusted_ca
AuthorizedPrincipalsFile /etc/ssh/auth_principals_%u
AuthorizedPrincipalsCommandUser root
AuthorizedPrincipalsCommand /etc/ssh/auth_principals.sh
Compression no
Subsystem sftp /usr/libexec/sftp-server
AuthenticationMethods publickey password

Match LocalPort 2022
        ForceCommand . /etc/profile; tmux attach -t SoL
