[Unit]
Description=Unconditionally Stop Host
Conflicts=host-poweroff.service host-poweron.service host-reset.service

[Service]
Type=oneshot
ExecStart=/usr/bin/env server_pwr_off_hard
SyslogIdentifier=buttonscripts
